
// variables
$blue: #60c4b0;



body{
	background-color: $blue;
	color: white;
}





// nesting
h1 {
	text-align: center;
	padding: 20px;
	
}
.content {
	.row {
		
	}

	canvas {
	width:100%;
	background-color:white;
	}
	input {
	margin-top:15px;
	margin-bottom:15px;
	}
}



